{% extends '::base.html.twig' %}

{% block body -%}
<section class="posts col-md-9">
    <h1>observaciones creation</h1>

     {{ form_start(form) }}
             <form class="form-horizontal">
                <div class="form-group row">
                    <label class="control-label col-md-3">Descripcion:</label>
                        <div class="col-md-9">
                            {{ form_widget(form.descripcion, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.descripcion) }}
                        </div>
                    </div>
                 </form>
		        <div class="container">
                    <div class="form-group row">
                        <div class="col-md-2 col-md-offset-2">
                            {{ form_widget(form._token) }}
                            <button class="btn btn-primary">Regresar</button>
                        </div>
                        <div class="col-md-2 ">
                            <button class="btn btn-success">Registrar</button>
                        </div>
                    </div>
                </div>      
</section>
{% endblock %}
